@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #9333ea;
  --primary-rgb: 147, 51, 234;
}

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #111827;
  }

  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #111827;
  }

  p {
    color: #374151;
  }
}

@layer utilities {
  .border-t-primary {
    border-top-color: var(--primary-color);
  }
  
  .text-primary {
    color: var(--primary-color);
  }
  
  .bg-primary {
    background-color: var(--primary-color);
  }
  
  .bg-primary\/5 {
    background-color: rgba(var(--primary-rgb), 0.05);
  }
  
  .bg-primary\/10 {
    background-color: rgba(var(--primary-rgb), 0.1);
  }
  
  .bg-primary\/20 {
    background-color: rgba(var(--primary-rgb), 0.2);
  }
  
  .bg-primary\/90 {
    background-color: rgba(var(--primary-rgb), 0.9);
  }
  
  .border-primary {
    border-color: var(--primary-color);
  }
  
  .border-primary\/50 {
    border-color: rgba(var(--primary-rgb), 0.5);
  }
  
  .hover\:bg-primary:hover {
    background-color: var(--primary-color);
  }
  
  .hover\:text-primary:hover {
    color: var(--primary-color);
  }
  
  .hover\:border-primary\/50:hover {
    border-color: rgba(var(--primary-rgb), 0.5);
  }
  
  .group-hover\:bg-primary\/5:hover {
    background-color: rgba(var(--primary-rgb), 0.05);
  }
  
  .group-hover\:bg-primary\/20:hover {
    background-color: rgba(var(--primary-rgb), 0.2);
  }
  
  .group-hover\:text-primary:hover {
    color: var(--primary-color);
  }
}
